{% extends 'transcodeandstream/base.html' %}


{% block TITLE %}video.name{% endblock %}

{% block CONTENT %}
<section class="active">
    <p class="title"><a href="{% url 'manager' %}">Manager</a></p>
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <nav class="breadcrumbs">
                    <a href="{% url 'filesystem-operation' %}">Root</a>
                    {% for component in path_components %}
                        <a {% if forloop.last %}class="current"{% endif %} href="{% url 'filesystem-operation' path=component.path %}">{{ component.name }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="large-12 columns">
                <video controls style="display: block; margin: auto;">
                  <source src="{{ MEDIA_URL }}encoded/{{ video.video }}.webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
</section>
<section>
    <p class="title"><a href="{% url 'queue' %}">Queue</a></p>
</section>
{% endblock %}